.form-declaracoes{
    margin-top: 1.5rem;
}
.card-body{
    display: flex;
    justify-content:space-between;
}
.buttons-card img{
    width: 2rem;
}
.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}