.textgradient {
    display: inline;
    background: linear-gradient(to right, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    margin: 0 0 0 1rem;
}

footer {
    height: 5vh;
    background-color: rgb(33, 33, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 1rem;
    color: aliceblue;
}
a img{
    width: 10vw;
}