.textgradient {
    display: inline;
    background: linear-gradient(to right, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
    margin: 0 0 0 1rem;
}

.footer {
    background-color: #000000;
    color: #F2FFFC;
    padding:  0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.80;
    box-sizing: border-box;
    text-align: center;
    height: 2.5em;

}

.footer h3 {
    font-size: 1rem;
    color: aliceblue;
}
<<<<<<< HEAD

.seta-header {
    width: 3rem;
    margin-right: 1rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin: 0 2.5% 0 2%;
}


body {
    margin: 0;
    padding: 0;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 10%;
    height: 100%;
=======
a img{
    width: 10vw;
>>>>>>> 615701e5160c63fcc0258868c8cdc41b223259cb
}