.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin: 0 2.5% 0 2%;
}


body {
    margin: 0;
    padding: 0;
    align-items: center;
}

/* main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 1.5rem 0 1rem 0;
} */

button {
    width: 80%;
    height: 10vh;
}

.button-align {
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}

h2 {
    padding-top: 0.5rem;
}