.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin: 0 2.5% 0 2%;
}


body {
    margin: 0;
    padding: 0;
    align-items: center;
}

main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 80%;
    height: 10vh;
}
.button-align{
    display: flex;
    justify-content: center;
    margin: 2rem;
    width: 100%;
}
h2{
    padding-top: 0.5rem;
}