.card-img-top{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: solid 3px black;


    margin: 0 0 1.5rem 0;
}

.form-card {
    word-break: break-all;
    text-align: center;
    background-color: #FFFFFF;
    border: double 3PX transparent;
    border-radius: 1rem;
    background-image: linear-gradient(white, white), radial-gradient(circle at left, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 1rem;
    width: 80%;
    padding: 1.5rem 1rem;
}

main{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
}

.form-control{
    border-radius: 3rem;
}

.button {
	border-radius: 4rem;
	color: #000000;
	font-size: 0.7rem;
	font-weight: bold;
	padding: 1px 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
    height: 100%;
    width: 80%;
}