@media (min-width: 900px) {
    .title {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .title h1 {
        display: flex;
        justify-content: center;
        margin-top: 1%;
        font-weight: 400;
    }

    .title hr {
        padding: 0;
        margin: 0;
        margin: 0.8rem 0 0.8rem 0;
    }

    .form-usuarios {
        width: 60%;
        padding: 1rem;
        padding-top: 0.5rem;
    }

    .foto-card {
        width: 3rem;
    }

    .navbar-nav img {
        width: 2.5rem;
    }

    .foto-card img {
        width: 100%;
        object-fit: cover;
    }

    .space-select {
        margin: 0.5rem;
    }

    .card-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: gainsboro;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .buttons-card {
        margin-left: 3rem;
        width:10%;
        display: flex;
        justify-content: flex-end;
        border-radius: 10px;
        align-items: flex-end;
    }

    .buttons-card img {
        width: 2rem;
    }

    .buttons-card img:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }

    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .selects {
        display: flex;
        width: 100%;
    }

    .nome-card h5 {
        margin: auto;
        margin-left: 1rem;
    }

    button{
        border: none;
        background-color: gainsboro;
    }
}

@media (max-width: 900px) 
{
    .title {
        width: 100%;
    }

    main {
        display: flex;
        
    }

    button{
        border: none;
        background-color: gainsboro;
    }

    .title h1 {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    .title hr {
        padding: 0;
        margin: 0;
        margin-top: 0.7rem;
    }

    .form-usuarios {
        padding: 1rem;
        padding-top: 0.5rem;
    }

    .foto-card {
        width: 3rem;
    }

    .navbar-nav img {
        width: 2.5rem;
    }

    .foto-card img {
        width: 100%;
        object-fit: cover;
    }

    .space-select {
        margin: 0.5rem;
    }

    .card-body {
        display: flex;
        align-items: center;
        background-color: gainsboro;
        box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
        height: 10rem;
        flex-direction: column;
        justify-content: center;
    }

    .buttons-card {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .buttons-card img {
        width: 2rem;
    }

    .buttons-card img:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }

    .card {
        width: 100%;
        padding-top: 1rem ;
        margin: 1rem 0.1rem 1rem 0.1rem;
    }

    .selects {
        display: flex;
        width: 100%;
    }

    .nome-card h5 {
        margin: auto;
        margin-left: 1rem;
    }
}